---
import { map } from 'astro/zod'
import { experienceData, type ExperienceDataTypes } from '../lib/data'
import CodeIcon from '../icons/CodeIcon.astro'
import ComputerIcon from '../icons/ComputerIcon.astro'
---

<section class="flex w-full flex-col gap-8 py-24 lg:w-1/2 lg:py-8">
	<div class="flex flex-col">
		<h3
			class="bg-gradient-to-t from-black to-gray-400 bg-clip-text text-center text-3xl font-bold text-transparent md:text-3xl lg:break-words lg:text-4xl"
		>
			Work Experience
		</h3>
	</div>

	{
		experienceData.map(
			({ company, position, dates, achievements, isFront, id }: ExperienceDataTypes) => {
				return (
					<div class="false relative rounded-2xl bg-gradient-to-r p-6 shadow-xl hover:shadow-2xl">
						<div class="flex items-center gap-2 text-gray-900">
							{isFront ? <CodeIcon /> : <ComputerIcon />}
							<h3 class="text-2xl font-bold text-gray-900">{position}</h3>
						</div>
						<p class="text-md pb-4 font-bold text-slate-500">{company}</p>
						<span class="text-xs italic text-gray-900">{dates}</span>
						<hr class="mb-4" />

						<details name="work-experience" class="cursor-pointer ">
							<summary>
								<>
									<span class="arrow">▼</span>
									<span class="hidden open:bg-green-400 open:text-gray-400">Open details</span>
								</>
								<span class="closed:text-gray-400 hidden">Close details</span>
							</summary>
							<p class="mt-8 text-lg font-medium leading-snug tracking-wide text-gray-900">
								{achievements[0]}
								<>
									<br />
									<br />
								</>
								{achievements[1]}
							</p>
						</details>
					</div>
				)
			}
		)
	}
</section>

<style>
	details > summary {
		list-style: none;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}

	details[open] summary .closed {
		display: none;
	}
	details:not([open]) summary .open {
		display: none;
	}
	details[open] summary .open {
		display: inline;
	}
	details:not([open]) summary .closed {
		display: inline;
	}

	details summary::after {
		content: 'More info';
	}

	details[open] summary::after {
		content: 'Close Info';
	}

	details summary .arrow {
		position: absolute;
		left: 0;
		transition: transform 0.3s ease; /* Smooth animation */
	}

	details[open] summary .arrow {
		transform: rotate(180deg); /* Rotate arrow when details open */
	}

	details summary {
		position: relative;
		padding-left: 20px; /* Space for the arrow */
	}
</style>
